<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.dingyabin.dao.WeightMapper">
  <resultMap id="BaseResultMap" type="net.dingyabin.bean.Weight">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="weight" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="waist" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="createtime" javaType="java.util.Date" jdbcType="DATE" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, weight, waist, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from weight
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from weight
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="net.dingyabin.bean.Weight">
    insert into weight (id, weight, waist, 
      createtime)
    values (#{id,jdbcType=BIGINT}, #{weight,jdbcType=DOUBLE}, #{waist,jdbcType=DOUBLE}, 
      #{createtime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="net.dingyabin.bean.Weight">
    insert into weight
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="waist != null">
        waist,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="waist != null">
        #{waist,jdbcType=DOUBLE},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.dingyabin.bean.Weight">
    update weight
    <set>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="waist != null">
        waist = #{waist,jdbcType=DOUBLE},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.dingyabin.bean.Weight">
    update weight
    set weight = #{weight,jdbcType=DOUBLE},
      waist = #{waist,jdbcType=DOUBLE},
      createtime = #{createtime,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>